		<!-- Header -->
		<header class="w3-container" style="padding-top:22px">
			<h5><b>{{bairro}}</b></h5>
		</header>

		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-third">
				<div class="w3-container w3-red w3-padding-16">
					<div class="w3-left"><i class="fa fa-graduation-cap w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>{{countEscola}}{{^countEscola}}0{{/countEscola}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Escolas</h4>
				</div>
			</div>
			<div class="w3-third">
				<div class="w3-container w3-blue w3-padding-16">
					<div class="w3-left"><i class="fa fa-institution w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>{{countPT}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Pontos Turisticos</h4>
				</div>
			</div>
			<div class="w3-third">
				<div class="w3-container w3-teal w3-padding-16">
					<div class="w3-left"><i class="fa fa-user w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>{{countProfessor}}{{^countProfessor}}0{{/countProfessor}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Professores</h4>
				</div>
			</div>
		</div>
		<div class="w3-panel" style="">
			<div class="w3-row-padding" style="margin:0 -16px">
			<div id="map" class="w3-half" style="height: 400px;"></div>
			<script>
			  var locations = [{{#locations}}{ name: "{{nome}}", lat: {{lat}}, lng: {{lng}} },{{/locations}}];
			  function initMap() {
			    var map = new google.maps.Map(document.getElementById('map'), {
			      zoom: 10,
			      center: locations[0] ? locations[0] : {lat: -22.9108558,lng: -43.5884177}
			    });
		        var markers = locations.map(function(location, i) {
		          return new google.maps.Marker({
		            position: location,
		            title: location.name,
		          });
		        });

			    var markerCluster = new MarkerClusterer(map, markers,
			            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
			  }
			  function center(name) {
			  	console.log("ajhfbkald");
			  	console.log(locations.filter(function(loc){loc.name==name}));
			  	map.setCenter(locations.filter(function(loc){loc.name==name}));
			  }
			</script>
			<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ0IYKOwf5oVi1v9WnH7XkCD2PhWk_YUM&callback=initMap">
			</script>
			<div class="w3-half" style="height: 400px; overflow-y: auto;">
				<div class="w3-third">
					<h5 style="display: inline">Escolas </h5>
				</div>
				<table class="w3-table w3-striped w3-white w3-hoverable">
					{{#locations}}
					<tr onclick="center("{{nome}}")">
						<td>{{nome}}</td>
					</tr>
					{{/locations}}
					{{^locations}}
					<tr onclick="center("{{nome}}")">
						<td>Nenhuma escolas encontrada nesse bairro</td>
					</tr>
					{{/locations}}
				</table>
			</div>
			</div>
		</div>
		<hr>
		<div class="w3-container">
			<h4>Professores por escola</h4>

			<p>Minimo de professores por escola</p>
			<div class="w3-grey">
				<div class="w3-container w3-center w3-padding w3-red" style="width:{{Prof.minMax}}%">{{Prof.min}} professores</div>
			</div>

			<p>Media de professores por escola</p>
			<div class="w3-grey">
				<div class="w3-container w3-center w3-padding w3-orange" style="width:{{Prof.mediaMax}}%">{{Prof.media}} professores</div>
			</div>

			<p>Maximo de professores por escola</p>
			<div class="w3-grey">
				<div class="w3-container w3-center w3-padding w3-green" style="width:100%">{{Prof.max}} professores</div>
			</div>
		</div>
		<hr>

		<div class="w3-container">
			<h5>Pontos Turísticos e Culturais</h5>
			<table class="w3-table w3-striped w3-bordered w3-border w3-white">
					<tr class="w3-dark-grey"> 
						<td><b>Nome</b></td>
						<td><b>Telefone</b></td>
					</tr>
				{{#pts}}
					<tr>
						<td>{{nome}}</td>
						<td>{{tel}}{{^tel}}Sem telefone disponivel{{/tel}}</td>
					</tr>
				{{/pts}}
			</table><br>
		</div>
		<hr>