		<!-- Header -->
		<header class="w3-container" style="padding-top:22px">
			<h5><b>Análise da Correlação entre Desempenho Escolar e Pontos Culturais em Regiões do Rio de Janeiro</b></h5>
		</header>

		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-third">
				<div class="w3-container w3-red w3-padding-16">
					<div class="w3-left"><i class="fa fa-map w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>{{countBairro}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Bairros</h4>
				</div>
			</div>
			<div class="w3-third">
				<div class="w3-container w3-blue w3-padding-16">
					<div class="w3-left"><i class="fa fa-graduation-cap w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>{{countEscola}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Escolas</h4>
				</div>
			</div>
			<div class="w3-third">
				<div class="w3-container w3-teal w3-padding-16">
					<div class="w3-left"><i class="fa fa-institution w3-xxxlarge"></i></div>
					<div class="w3-right">
						<h3>{{countPT}}</h3>
					</div>
					<div class="w3-clear"></div>
					<h4>Pontos Turisticos</h4>
				</div>
			</div>
		</div>
		<div id="bairros" class="w3-panel" style="">
			<div class="w3-row-padding" style="margin:0 -16px">
			<div id="map" class="w3-half" style="height: 400px;"></div>
			<script>
			  var locations = [{{#locations}}{ name: "{{nome}}", lat: {{lat}}, lng: {{lng}} },{{/locations}}];
			  function initMap() {
				var map = new google.maps.Map(document.getElementById('map'), {
				  zoom: 10,
				  center: {lat: -22.9108558,lng: -43.5884177}
				});
					var markers = locations.map(function(location, i) {
					  return new google.maps.Marker({
						position: location,
						title: location.name,
					  });
					});

				var markerCluster = new MarkerClusterer(map, markers,
						{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
			  }
			</script>
			<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ0IYKOwf5oVi1v9WnH7XkCD2PhWk_YUM&callback=initMap">
			</script>
			<div class="w3-half" style="height: 400px; overflow-y: auto;">
				<style type="text/css">
					.search{
						width: 200px;
						float: right;
						-webkit-transition: width 0.4s ease-in-out;
						transition: width 0.4s ease-in-out;
					}
					.search:focus{
						width: 100%;
					}
				</style>
				<div class="w3-third">
					<h5 style="display: inline">Bairros </h5>
				</div>
				<div class="w3-twothird">
					<form>
						<input class="search" type="text" name="searchBairro" placeholder="Buscar bairro..">
					</form>
				</div>
				<table class="w3-table w3-striped w3-white w3-hoverable">
					{{#bairros}}
					<tr onclick="window.location='/bairro?bairro={{nome}}'">
						<td>{{nome}}</td>
					</tr>
					{{/bairros}}
				</table>
			</div>
			</div>
		</div>
		<div class="w3-container">
			<canvas id="idebChart" class="w3-half"></canvas>
			<script type="text/javascript" src="/node_modules/chart.js/dist/Chart.js"> </script>
			<script type="text/javascript">
				var ctx = document.getElementById('idebChart').getContext('2d');
				var chart = new Chart(ctx,{
		            type: 'line',
		            data: {
		                labels: [ {{#mediaIdeb}}
		                        {{total}},
		                    {{/mediaIdeb}} ],
		                datasets: [{
		                    label: "IDEB 1",
		                    backgroundColor: 'rgb(255, 99, 132)',
		                    borderColor: 'rgb(255, 99, 132)',
		                    data: [ {{#mediaIdeb}}
		                        {{ideb1}},
		                    {{/mediaIdeb}} ],
		                    fill: false,
		                }, {
		                    label: "IDEB 2",
		                    fill: false,
		                    backgroundColor: 'rgb(99, 99, 255)',
		                    borderColor: 'rgb(99, 99, 255)',
		                    data: [ {{#mediaIdeb}}
		                        {{ideb2}},
		                    {{/mediaIdeb}} ],
		                }]
		            },
		            options: {
		                responsive: true,
		                title:{
		                    display:true,
		                    text:'IDEB medio por Ponto Turistico/Cultural'
		                },
		                tooltips: {
		                    mode: 'index',
		                    intersect: false,
		                },
		                hover: {
		                    mode: 'nearest',
		                    intersect: true
		                },
		                scales: {
		                    xAxes: [{
		                        display: true,
		                        scaleLabel: {
		                            display: true,
		                            labelString: 'Pontos Turisticos'
		                        }
		                    }],
		                    yAxes: [{
		                        display: true,
		                        scaleLabel: {
		                            display: true,
		                            labelString: 'IDEB medio'
		                        }
		                    }]
		                }
		            }
		        });
			</script>
		</div>
		<hr>
		<div id="disciplinas" class="w3-container">
			<div class="w3-container w3-half">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Escolha uma Disciplina
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						{{#disciplinas}}
						<li><a href="/?disc={{id}}">{{nome}}</a></li>
						{{/disciplinas}}
					</ul>
				</div>
				<canvas id="myChart" class="w3-half"></canvas>
				<script type="text/javascript" src="/node_modules/chart.js/dist/Chart.js"> </script>
				<script type="text/javascript">
					var ctx = document.getElementById('myChart').getContext('2d');
					var chart = new Chart(ctx, {
						// The type of chart we want to create
						type: 'bubble',

						// The data for our dataset
						data: {
							datasets: [{
								label: "",
								backgroundColor: 'rgb(255, 99, 132)',
								borderColor: 'rgb(255, 99, 132)',
								data:[{{#PtDisciplina}}
								{
									x: {{Pt}}{{^Pt}}0{{/Pt}},
									y: {{Esc}}{{^Esc}}0{{/Esc}},
									r: 10
								},
								{{/PtDisciplina}}]
							}]
						},

						// Configuration options go here
						options: {}
					});
				</script>
			</div>
			<div class="w3-half" style="height: 400px; overflow-y: auto;">
				<h5 style="display: inline"><img width="20px" heigth="20px" src="/disciplinaIcone?id={{disc}}"/> Professores da disciplina por bairro </h5>
				<table class="w3-table w3-striped w3-white w3-hoverable">
					{{#ProfBairro}}
					<tr onclick="window.location='/bairro?bairro={{nome}}'">
						<td>{{nome}}</td>
						<td>{{qtd_prof}}</td>
					</tr>
					{{/ProfBairro}}
				</table>
			</div>
		</div>
		<hr>
		<div id="idebmedio" class="w3-container">
			<h5>IDEB medio por bairro</h5>
			<div style="height: 500px; overflow-y: auto;">
			<table class="w3-table w3-striped w3-bordered w3-border w3-white">
					<tr class="w3-dark-grey"> 
						<td><b>Bairro</b></td>
						<td><b>Media IDEB_1</b></td>
						<td><b>Media IDEB_2</b></td>
						<td><b>Pontos Turisticos</b></td>
					</tr>
				{{#medias}}
					<tr>
						<td>{{bairro}}</td>
						<td>{{MediaIDEB_1}}{{^MediaIDEB_1}}Dados insuficientes{{/MediaIDEB_1}}</td>
						<td>{{MediaIDEB_2}}{{^MediaIDEB_2}}Dados insuficientes{{/MediaIDEB_2}}</td>
						<td>{{pt}}{{^pt}}0{{/pt}}</td>
					</tr>
				{{/medias}}
			</table><br>
			</div>
		</div>
		<hr>
		<div id="bairrosEPT" class="w3-container">
			<h5>Bairros com escola e ponto turistico</h5>
			<ul class="w3-ul w3-card-4 w3-white"  style="height: 500px; overflow-y: auto;">
				{{#BairrosEPT}}
				<li class="w3-padding-16">
					<span>{{nome}}</span><br>
				</li>
				{{/BairrosEPT}}
			</ul>
		</div>
		<hr>
