<!-- Essa pagina e uma versao adaptada do template https://www.w3schools.com/w3css/tryw3css_templates_analytics.htm -->
<!DOCTYPE html>
<html>
<head>
	<title>Trabalho de Banco de Dados</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif},
	.anchor { 
	}
	</style>
</head>
<body class="w3-light-grey">

	<!-- Top container -->
	<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
		<button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>	Menu</button>
		<span class="w3-bar-item w3-right">Trabalho de Banco de Dados I 2017.1</span>
	</div>

	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
		<div class="w3-bar-block">
			<a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>	Close Menu</a>
			<a onclick="window.location='/'+window.location.search+'#';"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>	Visao geral</a>
			<a onclick="window.location='/'+window.location.search+'#bairros';"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-map fa-fw"></i>	Bairros</a>
			<a onclick="window.location='/'+window.location.search+'#disciplinas';"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>	Analise de disciplinas</a>
			<a onclick="window.location='/'+window.location.search+'#idebmedio';"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-line-chart fa-fw"></i>	IDEB medio</a>
			<a onclick="window.location='/'+window.location.search+'#bairrosEPT';"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-institution fa-fw"></i>	Bairros com escola e turismo</a>
			<br><br>
		</div>
	</nav>


	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:300px;margin-top:43px;">

		{{{content}}}

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 w3-light-grey">
			<h4>Integrantes:</h4>
			<p><span class="w3-third">-João Felipe Porto de Albuquerque</span>DRE: 115.038.263</p>
			<p><span class="w3-third">-Rafael Fontella Katopodis</span> DRE: 115.021.282</p>
			<p><span class="w3-third">-Silvia Pimpão Vasquez</span>	DRE: 115.094.560</p>
			<p><span class="w3-third">-Vinícius Garcia Silva da Costa</span>DRE: 115.039.031</p>
		</footer>

		<!-- End page content -->
	</div>

	<script>
		// Get the Sidebar
		var mySidebar = document.getElementById("mySidebar");

		// Get the DIV with overlay effect
		var overlayBg = document.getElementById("myOverlay");

		// Toggle between showing and hiding the sidebar, and add overlay effect
		function w3_open() {
				if (mySidebar.style.display === 'block') {
						mySidebar.style.display = 'none';
						overlayBg.style.display = "none";
				} else {
						mySidebar.style.display = 'block';
						overlayBg.style.display = "block";
				}
		}

		// Close the sidebar with the close button
		function w3_close() {
				mySidebar.style.display = "none";
				overlayBg.style.display = "none";
		}
	</script>
	<script type="text/javascript">
		function offsetAnchor() {
		    if(location.hash.length !== 0) {
		        window.scrollTo(window.scrollX, window.scrollY - 50);
		    }
		}

		// This will capture hash changes while on the page
		window.addEventListener("hashchange", offsetAnchor);
		window.setTimeout(offsetAnchor, 1);
	</script>

</body>
</html>
